body{           /*En esta parte vamos a darle estilo a toda la parte del cuerpo de nuestra pagina*/
    margin: 0px;
    padding: 0px;
    font-size: 13 px;
    font-family: Arial, Helvetica, sans-serif;    
}

a{ /*Para referenciar a los anclados*/
    text-decoration: none; /* Para quitar el subrayado que viene por defecto */
    cursor: pointer; /*Para ponerle al raton un estilo cuando se posicione sobre  una palabra del nav*/
}

main { /*Estilo general del main*/
    margin-top: 150px; /*Magen de 150 pixeles a la part de arriba*/
    text-align: center; /*Centramos el contenido del main*/
}

header { /*Aqui le daremos estilo al encabezado de nuestra pagina*/
    width: 100%; /*Ancho del 100%*/
    height: 60px; /*Altrura de 60 pixeles*/
}

header nav {
    display: flex; /*ajustar el contenido de manera que se alinea a la derecha*/
    justify-content: flex-end;
}

header nav .nav-right-section{ /*Llama la clase nav que declaramos en html con su nombre*/
    width: 250px; /* Da un ancho especifico y no el 100%*/
    height: auto; /*Este auto es para que agarre la medida del padre osea de Header*/
    display: flex; /* Posiciona los elementos */
    list-style: none; /*Para quitar los puntos de la lista*/
    justify-content: center; /* Centra el contenido */
    align-items: center; /*Alinea los elementos para no esten totalmente arriba*/
}

nav .nav-right-section a{ /*Aqui le pondremos un margen a nuestra barra de navegacion para que no se vea an separado*/
    margin-right: 10px; /*Tamaño del margen*/
    color: #d81872; /*El color de las letras que tendran nuestro nav*/
}

nav .nav-right-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png"); /*El link de la imagen con el tamaño exacto de los iconos*/
    background-repeat: no-repeat; /*Evita que si la imagen es pequeña donde lo contiente se rellene el espacip*/
    background-position: center; /*Para crentrar nuestro icono*/
    background-size: contain; /*Ajusta el tamaño de la imagen*/
    width: 25px; /*definimos el ancho de la imagen*/
    height: 25px; /*definimos la altura de la imagen*/
}

nav .nav-right-section img{ /*Para darle estilo a nuestra imagen de perfil*/
    border-radius: 50%; /*Esto es para poner un borde redondo del 50%*/
    margin-left: 10px; /*Aqui le agregamos un margen para separalo un poco de los elementos*/
}

main .main-logo{ /*Aqui pondremos el estilo que le queramos dar al logo de Google*/
    width: 530px; /*Dimensiones del logo del Google*/
    margin: 0 auto; /*Definimos un margen de 0*/
    margin-bottom: 35px; /*Definimos un margen de abajo de 35 pixeles*/    
}

main .main-input{ /*Llamamos a la clase*/
    width: 530px; /*Le asignamos un ango de 530px*/
    margin: 0 auto; /*Le damos un margen de 0 auto, para que se ponga en la mitad*/
    margin-bottom: 35 px; /*Le damos un margen de 35 px en la parte de abajo para que los botones los separe*/
}

main .main-input-container{ /*Llama a la clase donde estan los iconos*/
    width: 525px; /*Se le da un tamaño diferente para que no tenga el mismo tamaño que el del padre*/
    border-radius: 100px; /*Es el radio que le daremos para redondear los extremos*/
    border: 1px solid #dfe1e5; /*Color del borde*/
    display: flex; /*Para que esten en la misma linea*/
    justify-content: center; /*Los situamos en el centro*/
    align-items: center; /*Alineamos los elementos al centro*/
}

main .main-input input{ /*Cambiar el tamaño de la barra de navegacion de Google*/
    width: 450px;  /*Ancho del buscador*/
    height: 40px;  /*Alto del buscador*/
    border: none;  /*Le quitamos el borde*/
    outline: none;  /*Le quitamos el borde que se genera al hacerle clic*/
}

main .main-input .search-icon { /*Efectos para el icono de la lupa*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png'); /*Link de la imagen de la lupa*/
    background-repeat: no-repeat; /*Evita que el navegador repita la imagen para rellenar espacios*/
    background-position: center; /*Para centrar la imagen*/
    background-size: contain; /*Para que tome el tamaño del contenedor del padre*/
    width: 18px; /*Tamaño del ancho*/
    height: 18px; /*Tamaño de la altura*/
}

main .main-input .micro-icon{ /*Estilos para la imagen del microno*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png'); /*Link de la imagen que le querramos poner al microfono*/
    background-repeat: no-repeat; /*Evita que el navegador repita la imagen para rellenar espacios*/
    background-position: center; /*Para centrar la imagen*/
    background-size: contain; /*Para que tome el tamaño del contenedor del padre*/
    width: 18px; /*Tamaño del ancho*/
    height: 18px; /*Tamaño de la altura*/
    cursor: pointer; /*Para que cuando el cursor sobre el elemento tome la forma de la manita*/
}

main .main-buttons{ /*Tamaños para los botones*/
    width: 550px; /*Ancho para los botones*/
    margin: 10px auto; /*Le ponemos un margen para que no este tan pegado a la barra del buscador*/
}

main .main-buttons div { /*Posicion de los botones*/
    display: inline-block; /*Este es para que los botones no esten encima del otro y esten en la misma linea*/
}

main .main-buttons button{ /*Estilos para los botones*/
    height: 36px; /*Defnimos el alto del*/
    background-color: #f2f2f2; /*Color del fondo del boton*/
    border: 0; /*Le ponemos un borde de 0*/
    font-size: 14px; /*Le ponemos tamaño a la letra*/
    color: #5f6358; /*Color de la letra*/
    border-radius: 5px; /*Le ponemos un redondeo*/
    padding: 0 15px; /*Espacio interno a los lados*/
    margin-right: 15px; /*Margen de separación a la derecha*/
}

main .main-buttons button:hover{ /*Estilos para cuando pasa el raton sobre los botones*/
    border: 1px solid #c6c6c6; /*Se genera un borde cuando pasa el cursor*/
    box-shadow: 0 1px 1px #4c4c4d; /*Ponemos una sombra para cuando el cursor pase encima del boton y el color de la sombra*/
    color: #222; /*Color del texto cuando se pasa por encima*/
}

main .letras-la{ /*Estilo para las letras LATINOAMERICA*/
    color: #3636fa; /*Color azul para solo esa parte*/
    cursor: pointer; /*Poner el cursor en forma de mano para cuando pase el cursor*/
}

main .letras-la, .letras{ /*Estlo para la parte de Ofrecido por Google en: Español (Latinoamérica)*/
    display: inline; /*Para que este en la misma linea*/
}



footer nav .abajo{ /*Llama la clase nav que declaramos en html con su nombre*/
    width: 1100px;
    height: 0px;
    display: flex;
    list-style: none; /*Para quitar los puntos de la lista*/
    
}

footer nav .abajo2{
    width: 500px;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    list-style: none; /*Para quitar los puntos de la lista*/
    text-align: left;
    
}


footer .abajo a{
    margin-right: 10px;
    color: #575758;
}

#mexico {
    color: #575758; 
  }

  footer{
    background-color: #f1f0f0;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    border-top: 1px solid #d6d6d6;
}














